{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Marathon Kids</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/centering.css" %}">
		<style type="text/css">
			html body {
				margin: 0;
				padding: 0;
				font-size: 12pt;
				font-family: "Cambria", Helvetica, arial, sans-serif;
				color: #002060;
			}
			.inline {
				display:inline-block;
			}
		</style>
	</head>

	<body>
		<img style="margin-top:5px;" src="{% static "images/mk_logo.jpg" %}" class="img-center">

		{% block content %}
		{% endblock content %}

		<div class="text-center">
			<h5>Created by: Elaine Apaza & Luke Hurst</h5>
			<h5><a href="https://github.com/etapaza/MarathonKids">Git Repo</a></h5>
		</div>
	</body>

</html>
