{% extends "base.html" %}

{% block content %}
	<div class="text-center" style="background-color:#000;margin-bottom:5px; padding-top:10px; padding-bottom:7px;">
		<iframe class="inline" width="560" height="315" src="https://www.youtube.com/embed/BmOlzRQTabA" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="text-center">
		<h1 class=".nsg-font-family--platform" style="font-size:300%;"><b>UNIVERSITY LEADERBOARD</b></h1>

		<span style="font-size:300%;content: \f107"></span>

	</div>
	<div>
		<table class="tablestyle tablestyletwo tablestylethree" cellpadding="100" align="center" style="margin-top:5px; margin-bottom:5px;">
		{%for university in universities%}
			<tr style="padding:100px;">
				<td style="text-align:left; font-size:200%">{{counter.next}}</td>
				<td><img height="50px" width="50px" src="https://logo.clearbit.com/{{university.username}}"></td>
				<td style="text-align:left; font-size:200%"><a href={% url 'university-profile' university.id %}>{{university.name}}</a></td>
				<td style="text-align:right; font-size:200%;">{{ university.kids_enrolled|add:university.social_media|add:university.money_raised }} points</td>
			</tr>

		{%endfor%}
		</table>
	</div>
{% endblock content %}
