{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Marathon Kids</title>
		<style type="text/css">
			html body {
				margin: 0;
				padding: 0;
			}
			.text-center {
				text-align:center;
			}
			.inline {
				display:inline-block;
			}
			.img-center {
				display: block;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<img src="{% static "images/mk_logo.jpg" %}" class="img-center">
		<div class="text-center" style="background-color:#000">
			<iframe class="inline" width="560" height="315" src="https://www.youtube.com/embed/BmOlzRQTabA" frameborder="1" allowfullscreen></iframe>
		</div>
		<ul>
		{%for university in universities%}
			<li>{{university.name}}</li>

		{%endfor%}
		</ul>
	</body>

</html>
