{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Marathon Kids</title>
		<style type="text/css">
			#wrapper {
				text-align:center;
			}
			#wrapper iframe {
				display:inline-block;
			}
			.center {
				display: block;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<img src="{% static "images/mk_logo.jpg" %}" class="center">
		<div id="wrapper">		
			<iframe align="absmiddle" width="560" height="315" src="https://www.youtube.com/embed/BmOlzRQTabA" frameborder="1" allowfullscreen></iframe>
		</div>
		<ul>
		{%for university in universities%}
			<li>{{university.name}}</li>

		{%endfor%}
		</ul>
	</body>

</html>
