{% extends "base.html" %}

{% block content %}
	<div class="text-center" style="padding-top:100px; padding-bottom:20px" >
		<h1 class="img-center" style="font-size:300%;"><b>{{university.name}}</b></h1>
	</div>
	<table class="tablepage" align="center" style="font-size:200%; padding-bottom:5px">
		<tr>
			<td>Kids:</td>
			<td>{{university.kids_enrolled}}</td>
			<!-- <td>Rank</td> -->
			{% if user == university %}
			<td>Add</td>
			{% endif %}
		</tr>
		<tr>
			<td>Miles:</td>
			<td>{{university.miles_ran}}</td>
			<!-- <td>Rank</td> -->
			{% if user == university %}
			<td>Add</td>
			{% endif %}
		</tr>
	</table>
	<div class="text-center">
		<a href={% url 'university-login' %}>Login to edit</a>
	</div>
	<div class="text-center" style="padding-top:5px;">
		<a href={% url 'MarathonKids-home' %}>Home</a>
	</div>
{% endblock content %}
