{% extends "base.html" %}

{% block content %}
	<div class="text-center" style="padding-top:20px; padding-bottom:20px" >
		<h1 class="img-center" style="font-size:300%;"><img style="height:2em;" src="//logo.clearbit.com/{{university.username}}"> <span style="vertical-align:middle"><b>{{university.name}} - {{rank}}<sup>{{ord}}</sup></b></span></h1>
	<hr>
	</div>
	<table align="center" style="font-size:200%; padding-bottom:5px">
		<tr>
			<td>Kids Enrolled:</td>
			<td style="text-align:right">{{university.kids_enrolled}}</td>
			<td>kids</td>
			{% if user == university %}
			<td>
				<form role="form" method="post" action="{% url 'university-update' %}">
					{% csrf_token %}
					<div class="input-group">
						<input type="number" name="kids-value" min="0" value="0" class="form-control col-xs-2" style="text-align:center;width:5em">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-success">Add</button>
						</span>
					</div>
				</form>
			</td>
			{% endif %}
		</tr>
		<tr>
			<td>Money Raised:</td>
			<td style="text-align:right">{{university.money_raised}}</td>
			<td>dollars</td>
			{% if user == university %}
			<td>
				<form role="form" method="post" action="{% url 'university-update' %}">
					{% csrf_token %}
					<div class="input-group">
						<input type="number" name="money-value" min="0" value="0" class="form-control col-xs-2" style="text-align:center;width:5em">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-success">Add</button>
						</span>
					</div>
				</form>
			</td>
			{% endif %}
		</tr>
		<tr>
			<td>Social Media:</td>
			<td style="text-align:right">{{university.social_media}}</td>
			<td>impressions</td>
			{% if user == university %}
			<td>
				<form role="form" method="post" action="{% url 'university-update' %}">
					{% csrf_token %}
					<div class="input-group">
						<input type="number" name="social-value" min="0" value="0" class="form-control col-xs-2" style="text-align:center;width:5em">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-success">Add</button>
						</span>
					</div>
				</form>
			</td>
			{% endif %}
		</tr>
	</table>
{% endblock content %}
